h1{
    text-align: center;
}
.btnl{
    align-items: center;
}
#log1{
    background-color: black;
}

input{
    border-radius: 100px;
    border: 2px solid;
    
}
.row{
    background-color:burlywood;
}
#log1{
    background-color: coral;
}
#userid{
    
    box-shadow: inset 0 0 15px -2px coral;

}
.row{
    height: 500px;
    background-color: burlywood;
}