

<div class="row">
    <div class="col-4"></div>
    <div class="col-4  mt-5 shadow-lg p-3 mb-5 bg-body rounded " id="sign1">
        <form action="" class="text-center">
            
            <img src="../../assets/logo.png" style="height:2cm; " class="rounded" alt="">
           
            <h1 class="text-secondary mt-3">Sign Up</h1>
            
            
            <input type="text" [(ngModel)]="uname" id="uname" placeholder="Enter Your Name" class="form-control mt-2 shadow-lg">
            <input type="text" [(ngModel)]="userid" id="userid" placeholder="User ID" class="form-control mt-2 shadow-lg">
            <input type="text"  [(ngModel)]="pswd" id="pswd" placeholder="Password" class="form-control mt-2 shadow-lg">
            <div class="d-grid gap-2 col-4 mx-auto">
            <input type="button" value="Sign Up" (click)="signup()" class="  container  btn btn-secondary   ml-3 mt-3" id="btns" style="text-align: center;">
            </div><br>
            <p>Already have an account?
            <a href="./index.html"class=" text-decoration-none text-secondary">Login</a></p>
    
        </form>
        
    </div>
    <div class="col-4"></div>
</div>
<div class="row"></div>

